svg {
  background-color: rgb(255, 255, 255);
}

.margin {
  fill: rgba(8, 23, 56, 0.96);
  stroke: rgba(8, 23, 56, 0.96);
}

.roomMargin {
  fill: rgba(18, 35, 68, 0.35);
  stroke: rgba(18, 35, 68, 0.35);
}

.betterRoomMargin {
  fill: rgb(227, 205, 154);
  stroke: rgb(227, 205, 154);
}

a:link {
  text-decoration:None;
  font-weight: bold;
}
a:visited {
  color: #000000;
  text-decoration:none;
}
a:hover {
  color: #0a61ef;
  text-decoration:none;
}